.wrapper {
  display: flex;
  flex-direction: row;
  padding: 12px;
}
.wrapper > div {
  flex: 1;
}

.wrapper > div:first-child {
  border-right: 1px #ccc dashed;
}

.settings {
  padding: 12px;
  flex: 3;
}
