.wrapper {
  display: flex;
  padding: 12px;
  flex-direction: row;
}

.wrapper > div {
  flex: 2;
}
.wrapper > div:not(:last-child) {
  border-right: 1px #ccc dashed;
}
.wrapper > div:last-child {
  flex: 1;
}
.wrapper > div:not(:first-child) {
  margin: 0 10px 0;
}

.settings {
  padding: 12px;
  flex: 3;
}

.scrollContainer {
  background: #bbdefb;
  border-radius: 5px;
  color: #fff;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
